* {
    box-sizing: border-box;
}

header {
    background-color: #3E332A;
    text-align: center;

    cursor: url(img/pikachu.cur), auto;
}

.title {
    padding: 20px;
    font-size: 40px;
    font-family: Noto Serif TC;
}

nav {
    padding: 5px;
    border-radius: auto;
    text-align: center;
    color: #f6f6f6;
    font-size: 20px;
}

nav a {
    color: #c5c5c5;
    text-decoration: none;
    padding: 10px 10px;
}

nav a:hover {
    text-decoration: none;
}

body {
    margin: 0px;
    background: linear-gradient(to bottom,
            #E6A441 0%,
            #E6A441 85%,
            #8D553B 85%,
            #8D553B 100%);
    cursor: url(img/pikachu.cur), auto;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.5fr 1.5fr 1fr 0.1fr;
    grid-template-areas:
        "aboutme aboutme"
        "interest skill"
        "exp exp"
        "other other"
        "footer footer";
    gap: 20px;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;

}

.card {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.2fr 0.8fr 0.5fr;
    grid-template-areas:
        "head1 head1"
        "pic info"
        "pic slogan";
}

.head1 {
    grid-area: head1;
    padding: 20px;
    font-size: 40px;
    font-family: Noto Serif TC;
}

.pic {
    grid-area: pic;
    padding-left: 100px;
    padding-bottom: 50px;
}

.me {
    width: 70%;
    border-radius: 40px;
}

.info {
    grid-area: info;
    font-size: 30px;
    font-family: Noto Sans TC;
    font-style: bold;
}

.slogan {
    grid-area: slogan;
    font-size: 35px;
    padding-right: 20px;
    font-family: Noto Sans TC;
}

#aboutme {
    grid-area: aboutme;
    background-color: #F8E64E;
    border-radius: 50px;
}

#interest {
    grid-area: interest;
    background-color: #DD3735;
    border-radius: 50px;
}

.icon {
    width: 60px;
    padding-left: 20px;
}

.line {
    line-height: 300%;
}

img {
    float: left;
}

font {
    font-size: 20px;
    font-family: Noto Sans TC;
}

progress {
    -webkit-appearance: none;
    accent-color: red;
    margin-left: 20px;
    height: 30px;
    border-radius: 40px;
    width: 90%;
}

::-webkit-progress-value {
    background-color: #3E332A;
    border-radius: 40px;
}

::-webkit-progress-bar {
    background-color: #8D553B;
    border-radius: 40px;
}

#skill {
    grid-area: skill;
    background-color: #DD3735;
    border-radius: 50px;
}

#exp {
    grid-area: exp;
    background-color: #F8E64E;
    border-radius: 50px;
}

.exp1 {
    columns: 2;
}

.exp2 {
    columns: 2;
}

.exp3 {
    columns: 2;
}

.exptitle {
    margin-left: 20px;
    margin-top: 70px;
    text-align: center;
    font-family: Noto Serif TC;
}

.video {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

h1 {
    font-size: 30px;
}

p {
    margin: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: Noto Sans TC;
}

.talah {
    width: 500px;
    height: 300px;
    margin-right: 20px;
    border-radius: 20px;
    float: right;
}

.teach {
    width: 500px;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
    float: left;
}

#other {
    grid-area: other;
    background-color: #F8E64E;
    border-radius: 50px;
}

.othpho {
    columns: 2;
    margin: 20px;
}

.lol {
    width: 500px;
    height: 300px;
}

.othtext {
    columns: 2;
}

.VDtitle {
    margin-top: 0px;
    text-align: center;
}

#footer {
    grid-area: footer;
    background-color: #8D553B;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    left: 75%;
}