* {
    box-sizing: border-box;
}

header {
    background-color: #F08A4B;
    text-align: center;
}

.title {
    padding: 20px;
    font-size: 40px;
}

nav {
    padding: 5px;
    border-radius: auto;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

nav a {
    color: gray;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

body {
    margin: 0px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 2fr 0.5fr;
    grid-template-areas:
        "aboutme aboutme"
        "interest skill"
        "exp exp"
        "footer footer";
    gap: 10px;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;

}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr;
    grid-template-areas:
        "head1 head1"
        "pic info"
        "slogan slogan";
}

.head1 {
    grid-area: head1;
    padding: 20px;
    font-size: 40px;
}

.pic {
    grid-area: pic;
    padding-left: 40px;
}

.info {
    grid-area: info;
    font-size: 30px;
}

.slogan {
    grid-area: slogan;
    font-size: 35px;
    padding-left: 35%;
    padding-top: 50px;
}

#aboutme {
    grid-area: aboutme;
    background-color: aqua;
    border-radius: 20px;
}

#interest {
    grid-area: interest;
    background-color: aquamarine;
    border-radius: 20px;
}

.icon {
    width: 60px;
    padding-left: 20px;
}

.line {
    line-height: 300%;
}

img {
    float: left;
}

font {
    font-size: 20px;
}

progress {
    -webkit-appearance: none;
    accent-color: red;
    margin-left: 20px;
    height: 30px;
    border-radius: 40px;
    width: 90%;
}

::-webkit-progress-value {
    background-color: red;
    border-radius: 40px;
}

::-webkit-progress-bar {
    background-color: pink;
    border-radius: 40px;
}

#skill {
    grid-area: skill;
    background-color: azure;
    border-radius: 20px;
}

#exp {
    grid-area: exp;
    background-color: beige;
    border-radius: 20px;
}

#footer {
    grid-area: footer;
    background-color: blue;
    padding: 20px;
    border-radius: 20px;

}