* {
    box-sizing: border-box;
}

header {
    background-color: #F08A4B;
    text-align: center;
}

.title {
    padding: 20px;
    font-size: 40px;
}

nav {
    padding: 5px;
    border-radius: auto;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

nav a {
    color: gray;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

body {
    margin: 0px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr;
    grid-template-areas:
        "aboutme aboutme"
        "interest skill"
        "exp exp"
        "other other"
        "footer footer";
    gap: 10px;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;

}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 0.5fr;
    grid-template-areas:
        "head1 head1"
        "pic info"
        "slogan slogan";
}

.head1 {
    grid-area: head1;
    padding: 20px;
    font-size: 40px;
}

.pic {
    grid-area: pic;
    padding-left: 40px;
}

.info {
    grid-area: info;
    font-size: 30px;
}

.slogan {
    grid-area: slogan;
    font-size: 35px;
    padding-left: 35%;
    padding-top: 50px;
}

#aboutme {
    grid-area: aboutme;
    background-color: aqua;
    border-radius: 20px;
}

#interest {
    grid-area: interest;
    background-color: aquamarine;
    border-radius: 20px;
}

.icon {
    width: 60px;
    padding-left: 20px;
}

.line {
    line-height: 300%;
}

img {
    float: left;
}

font {
    font-size: 20px;
    font-style: 微軟正黑體;
}

progress {
    -webkit-appearance: none;
    accent-color: red;
    margin-left: 20px;
    height: 30px;
    border-radius: 40px;
    width: 90%;
}

::-webkit-progress-value {
    background-color: red;
    border-radius: 40px;
}

::-webkit-progress-bar {
    background-color: pink;
    border-radius: 40px;
}

#skill {
    grid-area: skill;
    background-color: azure;
    border-radius: 20px;
}

#exp {
    grid-area: exp;
    background-color: beige;
    border-radius: 20px;
    overflow: auto;
}

.exp1 {
    columns: 2;
}

.exp2 {
    columns: 2;
}

.exp3 {
    columns: 2;
}

.exptitle {
    margin-left: 20px;
    margin-top: 70px;
    text-align: center;
}

.video {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

h1 {
    font-size: 30px;
}

p {
    margin: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.talah {
    width: 500px;
    height: 300px;
    margin-right: 20px;
    border-radius: 20px;
    float: right;
}

.teach {
    width: 500px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
    float: left;
}

#other {
    grid-area: other;
    background-color: brown;
    border-radius: 20px;
}

.othpho {
    columns: 2;
    margin: 20px;
}

.lol {
    width: 90%;
}

#footer {
    grid-area: footer;
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
}